body {
  margin: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: 20px;
  font-size: 18px;
  width: 700px;
  line-height: 150%;
  color: #202124;
}

#header {
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  border: 1px solid #ddd;
  width: 100%;
}

img.small {
  border: none;
  width: 30%;
  flex: 0 0 30%;
}

img.sidegifs {
  flex: 0 0 50%;
}

#topbar-img {
  border: none;
  width: 1100px;
}

h2 {
  margin-top: 60px;
}

h3 {
  margin-top: 30px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: col wrap;
  align-content: flex-start;
  border: 1px solid #ddd;
}

.table-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.table {
  padding: 3px;
  width: 60%;
  margin-left: 20%;
}

.table-row.header {
  border-bottom: 3px solid #ddd;
}

.caption {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #888;
  font-family: Helvetica;
  font-size: 12pt;
  line-height: 120%;
}

a {
  background: rgba(255, 179, 68, 0.2);
  color: #3C4043;
  padding: 2px 2px 2px 2px;
  text-decoration: none;
}

a:hover {
  background: rgba(255, 179, 68, 0.6);
}

.tk {
  color: #c00;
}

.side-note {
  position: absolute;
  left: 850px;
  width: 250px;
  font-size: 14pt;
  color: #999;
  font-style: italic;
}

.note {
  font-weight: 700;
  color: #c00;
}


.note-link {
  color: #c00;
}


@media (max-width: 1100px) {
  body {
    margin: 10px;
    max-width: 700px;
    width: calc(100% - 20px);
    overflow-x: hidden;
    font-size: 20px;
  }

  .side-note {
    position: relative;
    left: -5px;
    width: 100%;
    margin-bottom: 20px;
    background: #e6e6e6;
    border: 1px solid #aeaeae;
    background: #fbf6ed;
    border: 1px solid #e5ca8e;
    border-radius: 5px;
    padding: 5px !important;
  }

  img {
    overflow-x: hidden;
    width: 100% !important;
    height: auto !important;
  }

  .image-div,
  .caption {
    width: 100% !important;
  }


}

.sentence {
  font-family: menlo, Consolas, "Lucida Console", monospace;
}
