*.log

.cache
.DS_Store
.vscode

dist
node_modules
variables

# keep folder for scripts, but not most contents
static/*.*
static/jsons/*.json
!static/filtered_words.json
!static/words.json


# too big for source
enwiki-20170820.db