body {
  margin: 80px;
  font-family: Georgia,Cambria,"Times New Roman";
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  width: 700px;
  line-height: 150%;
}

h4 {
  margin-bottom: 20px;
  line-height: normal;
}

h1 {
  margin-bottom: 20px;
  line-height: normal;
}

h2 {
  margin-top: 60px;
}

h3 {
  margin-top: 30px;
}

img {
  border: 1px solid #ddd;
}

.caption {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #888;
  font-family: Helvetica;
  font-size: 12pt;
  line-height: 120%;
  /*white-space: nowrap;
  overflow: visible;*/
}

.definition {
  font-weight: 700;
  color: #000;
}

.image-div-wrap {
  display:inline-block;
  float: left;
  margin-top: 20px;
  margin-right: 30px;
}

.image-div {
  display:inline-block;
  float: left;
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 20px;
  width: 700px;
}

.proof {
  margin-top: 20px;
  font-style: italic;
}

.theorem {
  font-weight: 700;
  color: #000;
}

.theorem-body {
  font-style: italic;
}

.tk {
  color: #c00;
}

.side-note {
  position: absolute;
  left: 850px;
  width: 250px;
  font-size:14pt;
  color:"#666";
  font-style: italic;
}

.note {
  font-weight: 700;
  color: #c00;
}


.note-link {
  color: #c00;
}

.qed{
  height: 0px;
  margin: 0px;
  float: right;
  position: relative;
  top: -70px;
  font-size: 40px;
}
.qed-low{
  top: -45px;
}


@media (max-width: 1100px){
  body{
    margin: 10px;
    max-width: 700px;
    width: calc(100% - 20px);
    overflow-x: hidden;
    font-size: 20px;
  }

  .side-note {
    position: relative;
    left: -5px;
    width: 100%;
    margin-bottom: 20px;
    background: #e6e6e6;
    border: 1px solid #aeaeae;
    background: #fbf6ed;
    border: 1px solid #e5ca8e;
    border-radius: 5px;
    padding: 5px !important;
  }

  img{
    overflow-x: hidden;
    width: 100% !important;
    height: auto !important;
  }

  .image-div, .caption {
    width: 100% !important;
  }


}





svg{
  overflow: visible;
}


.sentence{
  font-family: menlo, Consolas, "Lucida Console", monospace;
  over
}

#header-container{
}
#header{
  position: relative;
  height: 300px;
}

#header .sentence{
  pointer-events: none;
}

.tooltip{
  display: none;
}

text{
  cursor: default;
  text-shadow: 0 2px 0 #fff, 2px 0 0 #fff, 0 -2px 0 #fff, -2px 0 0 #fff;

}

.node.active text{
  font-weight: 700;
  font-size: 16px;
}

.node.active circle{
  stroke: #444;
}

path.active{
  stroke-width: 10px !important;
}
.tree path.active{
  stroke-width: 8px !important;
}



.duel-tree > div{
  display: inline-block;
  width: 49%;
}
.duel-tree .title{
  width: 100%;
  font-size: 14px;
}


#parse-tree{
  width: 1200px;
  overflow-x: visible;
}

#parse-tree .title{
  height: 40px;
}

#parse-tree > div{
  display: inline-block;
  text-align: top;
  vertical-align: top;
}

#parse-tree > div:first-child{
  width: 550px;
}
#parse-tree > div:first-child svg{
  margin-left: -60px;
}


#parse-tree > div:last-child{
  width: 610px;
  margin-left: -40px;

}
#parse-tree > div:last-child svg{
  margin-left: -40px;
}

.title{
  max-width: 700px;
}

@media (max-width: 1100px){
  #parse-tree{
    width: 100%;
  }

  #parse-tree > div{
    width: 100% !important;
  }

  #parse-tree > div:first-child{
    margin-bottom: 20px;
  }

  #parse-tree > div:last-child svg{
    margin-top: 20px; 
  }

  #parse-tree > div:last-child > div:last-child svg{
    margin-left: 10px; 
  }


  #parse-tree div{
    margin-left: 0px !important;
  }

  #parse-tree line{
    display: none;
  }

  .parse-tree-caption img{
    margin-top: 15px !important;
  }
}

@media (max-width: 800px){
  #parse-tree svg text{
    font-size: 9px;
  }

}








