body {
  margin: 80px;
  margin-top: 20px;
  font-family: ,Georgia,Cambria,"Times New Roman";
  font-size: 20px;
  font-weight: 400;
  width: 700px;
  line-height: 150%;
}

h4 {
  margin-bottom: 20px;
  line-height: normal;
}

h1 {
  margin-bottom: 20px;
  line-height: normal;
}

h2 {
  margin-top: 60px;
}

h3 {
  margin-top: 30px;
}

img {
  border: 1px solid #ddd;
}

.caption {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #888;
  font-family: Helvetica;
  font-size: 12pt;
  line-height: 120%;
  /*white-space: nowrap;
  overflow: visible;*/
}

.definition {
  font-weight: 700;
  color: #000;
}

.image-div-wrap {
  display:inline-block;
  float: left;
  margin-top: 20px;
  margin-right: 30px;
}

.image-div {
  display:inline-block;
  float: left;
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 20px;
  width: 700px;
}

.proof {
  margin-top: 20px;
  font-style: italic;
}

.theorem {
  font-weight: 700;
  color: #000;
}

.theorem-body {
  font-style: italic;
}

.tk {
  color: #c00;
}

.side-note {
  position: absolute;
  left: 850px;
  width: 250px;
  font-size:14pt;
  color:"#666";
  font-style: italic;
}

.note {
  font-weight: 700;
  color: #c00;
}


.note-link {
  color: #c00;
}


@media (max-width: 1100px){
  body{
    margin: 10px;
    max-width: 700px;
    width: calc(100% - 20px);
    overflow-x: hidden;
    font-size: 20px;
  }

  .side-note {
    position: relative;
    left: -5px;
    width: 100%;
    margin-bottom: 20px;
    background: #ffe0ff;
    border-radius: 5px;
    padding: 5px !important;
    /*padding-top: 5px !important;*/
    border: 1px solid #f0f;
  }

  img{
    overflow-x: hidden;
    width: 100% !important;
    height: auto !important;
  }

  .image-div, .caption {
    width: 100% !important;
  }


}

svg{
  overflow: visible;
}


.sentence{
  font-family: menlo, Consolas, "Lucida Console", monospace;
  over
}

#header-container{
}
#header{
  position: relative;
  height: 300px;
}

#header .sentence{
}









