{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "google", "plugin:react/recommended"],
  "plugins": ["babel"],
  "rules": {
    "no-invalid-this": 0,
    "babel/no-invalid-this": 1
  },
  "env": {
    "browser": true,
  },
}
